.panel.panel-info
  .panel-heading
    %h3.panel-title New Role
  .panel-body
    = form_for UniversalAr::Role.new, url: universal_ar.roles_path, html: {class: 'form-horizontal form-border', id: 'new_role_form'} do
      = render 'form'