.row
  .col-md-8
    = panel(title: 'Groups', icon: 'cog') do
      #user_group_list= render 'list'
      
  .col-md-4
    #model_support
    - if current_user.can?(:sysadmin)
      #model_form
        = render 'new'